.product-details-container {
    padding: 20px;
  }
  
  .product-detail-image {
    max-width: 100%;
    height: auto;
  }
  
  .product-info {
    margin-top: 20px;
  }
  
  .favourite {
    margin-top: 10px;
  }
  